.logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px 28px 16px 0;
	float: left;

}

.content{
	width: 100%;
	top: 64px;
	bottom: 0;
	background: #e8e8e8;
	height: inherit;

	.banner {
		background: linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),url(./img/event2.jpeg);

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 400px;

		// text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		vertical-align: middle;

		p {
			color: #fff;
			font-size: 50px;
		}
	}
	.content-wrapper{
		padding: 30px;
    //home


		.events {
			padding: 30px;
			.header {
				font-size: 20px;
				padding-bottom: 10px;
			}
		}


		//auth style

		.auth-wrapper, .profile-wrapper, .add-event-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.auth-card, .profile-card, .add-event-card {
				width: 30%;
				padding: 20px;
				border-radius: 5px;
				background: #fff;
				box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.36);

				input, button, p{
					margin-bottom: 10px;
					width: 100%;
				}

				p {
					text-align: center;
					font-size: 20px;
				}

			}
		}


		//events

		.event-wrapper {
			.header {
				font-size: 20px;
				padding-bottom: 10px;
			}
		}
	}
}

.ant-form-item {
	margin-bottom: 0 !important;
}
